* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    background-color: #fff;

}

header {
    border: 1px solid #CCC;
 
    height: 120px;
    background: #ffe521;
}

.centrado {
    margin-top: 20px;
}

nav {
    
    margin-left: 150px;
    display: inline-block;
    border: 2px solid #f8b90ce8;
    border-radius: 20px;
    padding: 0 0 0 40px;
    background: white;
}

input,button {
    position: relative;
    float: left;
    padding: 0;
    height: 35px;
}

input {
    color:#000;
    border: none;
    z-index: 2;
    

}

button {

    font-size: 15px;
    border-radius: 0 20px 20px 0;
    width: 40px;
    border: none;
    transition-duration: .3s;
    transform: translate(-10spx,0);
}

.fa-search{
    color: white;
}


a{
    text-decoration: none;
    color: #fff;
}

.btn-menu {
    display: none;
    padding: 20px;
    background-color: #0d2c44;
    color: #fff;

}

.btn-menu .icono {
    float: right;
}

.contenedor-menu {
    width: 200px;
    min-width: 300px;
    margin: 20px;
    display: inline-block;
}

.contenedor-menu .menu{
    width: 100%;
}


.contenedor-menu ul{
    list-style: none;
}

.contenedor-menu .menu li a {
    color: #494949;
    display: block;
    padding: 15px 20px;
    background: #e9e9e9;
}

.contenedor-menu li a:hover {
    background: #ffe521;
    color:#fff;
}

.contenedor-menu .menu .icono {
    font-size: 12px;
    line-height: 18px;
}

.contenedor-menu .menu .icono.izquierda {
    float: left;
    margin-right: 10px;

}

.contenedor-menu .menu .icono.derecha {
    float: right;
    margin-left: 10px;
}   

.contenedor-menu .menu ul {

   display:none;
}

.contenedor-menu .menu ul li a {
    background: #FF009E;
    color: #e9e9e9;

}

.contenedor-menu .menu .activado > a {
    background: #1a95d9;
    color: #fff;
}
 #respuesta {
color: #000;
}
