* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
body { background-color: #fff;}
header { border: 1px solid #CCC; height: 120px;background: #ffe521;}
.centrado {margin-top: 20px;}
/*Menu Vertical*/
.contenedor-menu {   width: 20%; min-width: 150px; margin: 10px; display: inline-block;}
.contenedor-menu .menu{ width: 100%;}
.contenedor-menu ul{ list-style: none;}
.contenedor-menu .menu li a {   color: #494949; display: block; padding: 15px 20px; background: #e9e9e9;}
/*Efecto sobre menu*/
.contenedor-menu li a:hover {  background: #ffe521;  color:#000;}
.contenedor-menu .menu .icono { font-size: 12px; line-height: 18px;}
.contenedor-menu .menu .icono.izquierda {  float: left; margin-right: 5px;}
.contenedor-menu .menu .icono.derecha {  float: right; margin-left: 5px; }  
/*.contenedor-menu .menu ul { display:none; } ocultar submenu*/
.contenedor-menu .menu ul li a {  background: #FF009E; color: #e9e9e9;}
#divCohorts{float: right; margin-top:130px; margin-right:450px;width: 50%;}
.txtSearch{size: 50%;}
