* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
body { background-color: #fff;}
header { border: 1px solid #CCC; height: 120px;background: #ffe521;}
.centrado {margin-top: 20px;}
form { margin-left: 150px; display: inline-block;border: 2px solid #f8b90ce8;border-radius: 20px;padding: 0 0 0 40px;background: white;}
input , button {position: relative; float: left;padding: 0;height: 35px}
input {  color:#000;  border: none; z-index: 2;}
/*buscar*/
button { font-size: 15px;border-radius: 0 20px 20px 0;width: 40px;border: none;transition-duration: .3s;transform: translate(-10spx,0);}
.fa-search{ color: white;} 
a { color: #fff; text-decoration: none}
/* Perfil*/
.perfil { float: right; margin-right: 3%;margin-top: 3%; }
/* Menu Vertical*/
.contenedor-menu {   width: 30%; min-width: 300px; margin: 20px; display: inline-block;}
.contenedor-menu .menu{ width: 100%;}
.contenedor-menu ul{ list-style: none;}
.contenedor-menu .menu li a {   color: #494949; display: block; padding: 15px 20px; background: #e9e9e9;}
/*Efecto sobre menu*/
.contenedor-menu li a:hover {  background: #ffe521;  color:#000;}
.contenedor-menu .menu .icono { font-size: 12px; line-height: 18px;}
.contenedor-menu .menu .icono.izquierda {  float: left; margin-right: 10px;}
.contenedor-menu .menu .icono.derecha {  float: right; margin-left: 10px; }   
 /* .contenedor-menu .menu ul { display:none; }ocultar submenu*/
.contenedor-menu .menu ul li a {  background: #FF009E; color: #e9e9e9;}
.contenedor-menu .menu .activado > a {  background: #1a95d9; color: #fff; }
/* Diseño de Tabla para listar estudiantes*/
.Tabla { margin-left: 5%; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; border-collapse: collapse; width: 30%; margin-top: -10px;}
.Tabla ul, .Tabla li { border: 1px solid #ddd; padding: 8px; list-style:none; }
.Tabla li:nth-child(even) {background-color: #f2f2f2;}
.Tabla li:hover {background-color: #ddd;}
.Tabla p {  padding-top: 12px; padding-bottom: 12px; text-align: center; background-color: #4CAF50; color: white;}
#listExercice {margin-left: 50%; border: solid black 1px;height:20px; width: 30%; }
/* pie de página*/
footer { float: right; margin-top: 10%;height:100px ;}
/*Configuración para  dispositivo mobil */
.btn-menu { display: none; padding: 20px;background-color: #0d2c44;color: #fff;}
.btn-menu .icono { float: right;}
@media screen and (max-width:450px) {
    body{ padding-top: 80px;}
    .contenedor-menu{  margin: 0; width: 100%; position: fixed; top: 0; z-index: 1000; }
    .btn-menu { display: block;}
    .contenedor-menu .menu {  display: none; }
}




